.news{
    margin: 10px;
    padding: 10px;
    border-bottom: 2px solid black;

    background-color: cornsilk;
}

.title{
    font-size: 1.1rem;
    font-weight: bold;
}

.by{
    font-size: 0.9rem;
}

.links a{
    text-decoration: none;
    color: rgb(73, 72, 72);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

.links a:hover{
    text-decoration: underline;
    color: rgb(17, 15, 15);
}

.userLinks a{
    color: rgb(73, 72, 72);
}

.userLinks a:hover{
    text-decoration: underline;
    color: rgb(17, 15, 15);
}

.links{
    text-align: center;
}

.post-text{
    justify-content: center;
}