.news-container {
    display: grid;
    grid-template-columns: 1fr;
}

.spinner-container {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.spinnerStyle {
    padding: 50px !important;
}